@mixin btn-type($color, $bg-color) {
    color: $color;
    border-color: $color;
    background-color: $bg-color;
}

.btn {
    padding: 0.6rem 1.2rem;
    border-radius: 0.3rem;
    border: 0.1rem $white solid;

    &--small {
        padding: 0.2rem 0.6rem;
        font-size: 0.8rem;
    }

    &--primary {
        @include btn-type($white, $primary-color);

        &:hover {
            background-color: $primary-light-color;
        }
    }

    &--danger {
        @include btn-type($red, transparent);
    }

    &--secondary {
        @include btn-type($primary-color, transparent);
    }

    &--edit{
        @include btn-type($edit-color, transparent);
    }

    &--normal {
        @include btn-type($black, $lightgray);
    }
}