.comment {
    &__container {
        padding: 0 24rem;
    }

    &__list {
        overflow: auto;
        max-height: 75vh;
        border-radius: 1rem;

        &--border {
            border: 0.1rem solid $black;
        }
    }
}