.comment {
    &__container {
        padding: 0 24vw;

        @media screen and (min-width: 768px) and (max-width: 1440px) {
            padding: 0 12vw;
        }

        @media screen and (max-width: 768px) and (min-width: 300px) {
            padding: 0;
        }
    }

    &__list {
        overflow: auto;
        max-height: 75vh;
        border-radius: 1rem;

        &--border {
            border: 0.1rem solid $black;
        }
    }
}