.input {
    width: auto;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    border: 0.08rem $border-color solid;

    &--large {
        width: 30rem;
    }

    &--small {
        width: 15rem;
    }

    &--main {
        padding: 0.8rem 1.2rem;
    }

    &:focus-visible {
        outline: $primary-color auto 0.1rem;
    }
}

.reply {
    font-size: initial;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    background-color: whitesmoke;

    &__timestamp {
        font-size: 0.7rem;
        top: 1%;
        left: 1%;
        z-index: 1;
        width: max-content;
    }

    &__container {
        border: 0.5px solid $black;
        padding: 0.2rem;
        border-radius: 0.5rem;
    }
}