#root {
    // common
    @import 'styles/variables';
    @import 'styles/utilities';

    // components
    @import 'styles/button';
    @import 'styles/input';
    @import 'styles/comment';

    .loader {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 1;
        top: 1px;
        opacity: 1;
        pointer-events: all;
        // background-color: rgb(64, 88, 114, 56%);
    }
}